{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block baslik %}
		Başlık Girilmemiş
			{% endblock baslik %}
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Jamiryo <span>Nekflikş</span></a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Ana Sayfa</a></li>
					{% if user.is_authenticated %}
					    <li><a href="{% url 'listgonderi' %}">Blog</a></li>
						<li><span style="color:#fff">Merhaba {{user.username}}</span>
						<a href="{% url 'logout'%}">Çıkış</a>
						</li>
					{% else %}
						<li><a href="{% url 'login' %}">Giriş Yap</a></li>
						<li><a href="{% url 'signup' %}">Kayıt Ol</a></li>
					{% endif %}
				</ul>
			</nav>

		{% block icerik %}
		{% endblock icerik %}
		

		<!-- Footer -->
			<footer id="footer" class="wrapper">
			{% block footer %}
		
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Get in Touch</h2>
								<hr />
								<form action="#" method="post">
									<div class="field half first">
										<label for="name">Name</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="dept">Department</label>
										<div class="select-wrapper">
											<select name="dept" id="dept">
												<option value="">- Category -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>. Video <a href="http://coverr.co/">Coverr</a>.
					</div>
				</div>
					{% endblock footer %}
			</footer>


		<!-- Scripts -->
			<script src="{% static  'assets/js/jquery.min.js' %}"></script>
			<script src="{% static  'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static  'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static  'assets/js/skel.min.js' %}"></script>
			<script src="{% static  'assets/js/util.js' %}"></script>
			<script src="{% static  'assets/js/main.js' %}"></script>
	</body>
</html>